{# {% extends 'base.html.twig' %} #}

{# <p>Je m'appelle {{ personne['prenom'] }} {{ personne['nom'] }}</p> #}
<p>Je m'appelle {{ personne.prenom }} {{ personne.nom }} et j'ai {{ personne.age }} ans</p>
{# {% for i in 1..0 %} {{ personne[i] }}
{% endfor %} #}

    {# {% for indice, valeur in personne %}
<p>{ { personne['nom'] }}</p>
    {% endfor %} #}



{# {% for i in 1..0 %} {{ personne[i] }}
{% endfor %} #}

{# {% for i in 0..3 %}
    <tr>
        <td>{{ tableau[i] }}</td>
    </tr>
{% endfor %} #}