<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        
{#  soit j'ai le role admin et je fais le lien avec admin  pour le style pour le site
soit je fais la liason avec app  qui fait la liaison avec le css#}
        {% block stylesheets %}
            {% if is_granted('ROLE_ADMIN') %}
                {{ encore_entry_link_tags('admin') }}              
            {% else %}
                {{ encore_entry_link_tags('app') }}
            {% endif %}
        {% endblock %}

        {% block javascripts %}     
{# on rajouter le if et le encore admin dans le javascipt lorsque nous avons crée les fichier app.scss et admin.scss #}
        {{ encore_entry_script_tags('app') }}
            {% if is_granted("ROLE_ADMIN") %} 
                {{ encore_entry_script_tags('admin') }}
            {% endif %}
        {% endblock %}

    </head>
    <body>
        {{ include("menu.html.twig") }}
        <div class="container">
  

            {% for type, messages in app.flashes %} 
                {% for msg in messages %}
                    <div class="alert alert-{{ type }}">{{ msg|raw }}</div>
                {% endfor %}
            {% endfor %}

            {# app est une variable globale (app.flashes) 
               fait appel à la méthode et aux deux paramètres de: addFlash(arg1 type, arg2 messages )
               ici, variable type a la valeur de 'succes' et var messages a la valeur "La nouvelle partie a bien été enregistrée"#}
            
        </div>

        <h1> {% block titreH1 %}My scoreboard {% endblock %}</h1>
        {% block body %}{% endblock %}

    </body>
    <footer>
        {% block piedpage %}
            <p>Footer de base</p>
        {% endblock %}
    </footer>
</html>
